@import "./variables.scss";

@media (max-width: $mobile-res) {
  .brand-icon {
    max-width: 40px;
    max-height: 40px;
  }
}

@media (min-width: $desktop-res) {
  .brand-icon {
    max-width: 80px;
    max-height: 80px;
  }
}

.brand-icon {
  @include mobile {
    max-width: 40px;
    max-height: 40px;
  }
  @include desktop {
  }
}

.brand-text {
  color: #ddd;
  font-weight: bold;
  @include mobile {
    font-size: 12px;
  }
  @include desktop {
    font-size: 24px;
  }
}

.navbar {
  margin: 0 !important;
  border: 0 !important;
  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-dark {
    background: linear-gradient($light-color, $dark-color);
    margin: 0 !important;
  }

  &-brand {
    height: auto !important;
    padding: 0 10px !important;
  }

  &-buttons {
    display: flex;
    position: absolute;
    right: 5vw;
  }
}

.registerForm {
  form {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
  }
}

.register-button {
  @include bluebutton;
}

.sign-in-button {
  @include inbutton("inherit");
}
.navbar-buttons button:hover,
.navbar-buttons button:focus,
.navbar-buttons button:target {
  border: 0;
  color: white;
  width: 10vw;
  outline: none;
  box-shadow: 0 !important;
  filter: brightness(0.8);
}

.registerForm input,
.registerForm2 input {
  height: 40px;
  font-size: 18px;
}

.registerForm input:focus,
.registerForm2 input:focus {
  outline: none;
  border: 0;
}

.registerForm2 {
  padding: 10vh 0;

  h1 {
    font-size: 38px;
    font-weight: 100;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }
  button {
    height: 60px !important;
    border-radius: 5px;
  }
}
