@import "./variables.scss";

.footer {
  background: linear-gradient($light-color, $dark-color);
  margin: 0 !important;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.social {
  color: white;
}

.footer-end-text {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
