@import "./variables.scss";



/* MENU */

/* Layout Components */
/* 1. AppNavbar.js */

/* MainPageComponents */

/* 3. Promo.js */
/* 4. UserPromo.js */
/* 5. Register.js */
/* 6. Footer.js */


/* Login Panel */
/* 7. Main Panel */


/* UNUSED */
/* Slider.js */


/* App Background and Bootstrap overwrites */
.app--background{
  background-color: $dark-blue;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -999;
}

.container{
  background-color: #F8F8F8;
}

@media(min-width: 576px){
  .container{
    border-radius: 70px;
  }
}


/* Layout Components */
/* 1. AppNavbar.js */

/* MODAL */
.show {
  opacity: 1;
}

@media (max-width: $mobile-res) {
  .navbar__brand--text {
    font-size: 14px !important;
  }
}

@media (min-width: $desktop-res) {
  .modal-dialog {
    max-width: 60vw;
  }
}


@media(min-width: $tablet-res){
  .navbar--dark {
    height: 100px;
  }
}

.navbar__buttons {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;


  @media(min-width: $mobile-res){
    & div{
      margin: 0 0 0 18px ;
    }
  }

  input[type="text"]{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;
    height: 40px;
    max-width: 400px;
    font-size: 22px;
    padding: 0 10px;

    @media(max-width: $tablet-res){
      height: 30px !important;
      font-size: 18px;
    }

    @media(min-width: $tablet-res){
      & {
        margin: 0 32px 0 0;
      }
    }

    &:focus{
      border: 1px solid $light-green;
      outline: none !important;
    }

  }
}

.navbar__brand--text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: #ddd;
  font-weight: bold;
}



.navbar__brand{
  position: relative;
  height: 100%;
  vertical-align: middle;
  height: auto !important;
  padding: 0 10px !important;
  display: flex;
  align-items: center;
}


.navbar--dark {
  background: $dark-blue;
  margin: 0 !important;
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__registerbutton {
  @include outbutton("inherit");
}

.signinbutton {
  @include inbutton("inherit");
}



/* 3. Promo.js */
.help-others {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../img/slid3.jpg") fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
  position: relative;
  z-index: -1;
}

.img-media {
  max-width: 128px;
}

.Promo {
  padding: 5vh 0;
}

@media (min-width: $desktop-res) {
  .Promo h1 {
    font-size: 48px;
  }
  .help-others-text h1 {
    font-size: 52px;
  }
  .help-others-text h3 {
    font-size: 24px;
  }
}

@media (max-width: $mobile-res) {
  .Promo h1 {
    margin-bottom: 20px;
  }
}

.Promo h1 {
  text-align: center;
  font-size: 28px;
}

li.media {
  padding: 3vh 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

li.media h4 {
  font-size: 32px;
}

/* 4. UserPromo.js */

.help-others-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;

  h1 {
    text-align: center;
  }

  h3 {
    line-height: 1.6;
    text-align: center;
  }
}

/* 5. Register.js */

.registerForm2 input {
  height: 40px;
  font-size: 18px;
}

.registerForm2 input:focus {
  outline: none;
  border: 0;
}

.registerForm2 {
  padding: 10vh 0;

  h1 {
    font-size: 38px;
    font-weight: 100;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }
}

/* 6. Footer.js */

.footer {
  background: $dark-blue;
  margin: 0 !important;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  &-end-text {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.social {
  color: white;
  font-size: 32px;
  transition: 0.5s;
}
.social:hover{
  color: $light-green;
  cursor: pointer;
}


/* Login Panel */

/* Main Panel */
@media (max-width: $mobile-res) {
  .mainpanel{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainpanel__userbase{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    width: 300px;
  }
}

@media (min-width: $desktop-res) {
  .mainpanel{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainpanel__userbase{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    width: 300px;
  }
}
.mainpanel__userbase button{
  @include bluebutton;
}

.searchcollectioninput{
  margin: 20px;
}

/* UNUSED */

/*  Slider.js */

.carousel-sign-in {
  position: absolute;
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $desktop-res) {
  .carousel-caption {
    p {
      font-size: 18px;
    }
    h3 {
      font-size: 32px;
    }
  }
}

.slider {
  padding: 0px !important;
  object-fit: cover;
  box-sizing: border-box;
  position: relative;
}
.carousel-item {
  background: $dark-blue;

  img {
    object-fit: cover;
    width: 100%;
    height: 80vh;
    filter: brightness(0.5);
  }
}

.carousel-indicators {
  width: auto !important;
  margin-left: 0px !important;
  margin-right: 0px !important;

  .active {
    width: 45px !important;
    height: 3px !important;
    transition: 0.7s;
  }
  li {
    background-clip: unset !important;
    border: 0px !important;
  }
}