$dark-color: #000536;
$light-color: #B6EE1A;
$light-blue: #000536;
$mobile-res: 576px;
$tablet-res: 991px;
$desktop-res: 992px;

@mixin mobile {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin inbutton($color) {
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  width: 10vw;
  outline: none !important;
  background: $color;
  height: 60px;
  border-radius: 5px;

  &:hover {
    filter: brightness(0.8);
  }
}

@mixin outbutton($color) {
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: $light-color;
  width: 10vw;
  outline: none !important;
  background: $color;
  height: 60px;
  border-radius: 5px;

  &:hover {
    filter: brightness(0.8);
  }
}

@mixin bluebutton {
  @include inbutton($light-blue);
}

.blue-button {
  @include bluebutton;
}

.in-button {
  @include inbutton(inherit);
}

@keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}
