* {
  font-family: 'Poppins', sans-serif;
}

a:hover, a:focus, a:checked {
  text-decoration: none;
}

.green-button {
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border: 0;
  color: #000536;
  outline: none !important;
  background: #B6EE1A;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green-button:hover {
  color: #000536;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .green-button {
    font-size: 12px !important;
    padding: 5px 3px;
  }
}

.green-button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#A1D218), to(#B6EE1A));
  background: linear-gradient(#A1D218, #B6EE1A);
}

.blue-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: #000536;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-button:hover, .blue-button:focus, .blue-button:active, .blue-button:checked {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .blue-button {
    font-size: 16px !important;
  }
}

.in-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: inherit;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.in-button:hover, .in-button:focus, .in-button:active, .in-button:checked {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .in-button {
    font-size: 16px !important;
  }
}

input.text {
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 10px;
}

input.text:hover, input.text:focus, input.text:active, input.text:checked {
  text-decoration: none !important;
  outline: none;
}

input[type='text']:hover, input[type='text']:focus, input[type='text']:active, input[type='text']:checked, textarea:hover, textarea:focus, textarea:active, textarea:checked {
  text-decoration: none !important;
  outline: none;
}

.color-dark-blue {
  color: #000536 !important;
}

@-webkit-keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}

@keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}

.remove-button {
  font-size: 24px;
  color: #000536;
  background-color: #F8F8F8;
  border: 0;
}

.remove-button:hover, .remove-button:focus {
  background: #F8F8F8;
}

.remove-button:focus {
  outline: 1px solid #F8F8F8;
  outline-offset: -4px;
}

.remove-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

* {
  font-family: 'Poppins', sans-serif;
}

a:hover, a:focus, a:checked {
  text-decoration: none;
}

.green-button {
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border: 0;
  color: #000536;
  outline: none !important;
  background: #B6EE1A;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green-button:hover {
  color: #000536;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .green-button {
    font-size: 12px !important;
    padding: 5px 3px;
  }
}

.green-button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#A1D218), to(#B6EE1A));
  background: linear-gradient(#A1D218, #B6EE1A);
}

.blue-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: #000536;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-button:hover, .blue-button:focus, .blue-button:active, .blue-button:checked {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .blue-button {
    font-size: 16px !important;
  }
}

.in-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: inherit;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.in-button:hover, .in-button:focus, .in-button:active, .in-button:checked {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .in-button {
    font-size: 16px !important;
  }
}

input.text {
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 10px;
}

input.text:hover, input.text:focus, input.text:active, input.text:checked {
  text-decoration: none !important;
  outline: none;
}

input[type='text']:hover, input[type='text']:focus, input[type='text']:active, input[type='text']:checked, textarea:hover, textarea:focus, textarea:active, textarea:checked {
  text-decoration: none !important;
  outline: none;
}

.color-dark-blue {
  color: #000536 !important;
}

@keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}

.remove-button {
  font-size: 24px;
  color: #000536;
  background-color: #F8F8F8;
  border: 0;
}

.remove-button:hover, .remove-button:focus {
  background: #F8F8F8;
}

.remove-button:focus {
  outline: 1px solid #F8F8F8;
  outline-offset: -4px;
}

.remove-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.flex--center, .create__container, .create--collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__container {
  width: 150px;
  height: 150px;
  margin: 0 55px 0 0;
  border-radius: 25px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card__body {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card--collection {
  background: url("../../img/collection.svg");
  background-size: cover;
}

.card--set {
  background: url("../../img/studyset.png");
  background-size: cover;
}

.card__title, .card__subtitle {
  color: #000536;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 900;
}

.create__container, .create--collection {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

/* MENU */
/* Components */
/* Card Components */
/* 1.1 CardComponent.js */
/* 1.2 Collection.js */
/* 1.3 Flashcard.js */
/* 1.4 UserCreateCollection.js */
/* Form Components */
/* 2.1 FormField.js */
/* 2.2 Login.js */
/* 2.3 Register.js */
/* LandPage Components */
/* 3.1 Formular.js */
/* 3.2 Promo.js */
/* 3.3 SignInModal.js */
/* 3.4 Slider.js */
/* 3.5 UserPromo.js */
/* 3.6 WelcomeSection.js */
/* 3.7 Newsletter */
/* 3.8 Steps.js & Step.js */
/* 3.9 Opinions.js & Opinion.js */
/* Layout Components */
/* 4.1 AppNavbar.js */
/* 4.2 Footer.js */
/* Pages Components */
/* 5.1 Search.js */
/* 5.2 UserCreate.js */
/* 5.3 UserHead.js */
/* Search Components */
/* 6.1 SearchInput.js */
/* UserBase Components */
/* 7.1 UserSection.js */
/* 7.2 StudySetsSection.js */
/* 7.3 CollectionSection */
/* layouts */
/* 8.1 Layout.js */
/* Animations */
/* 9.1 Loading.js */
/* Components */
/* Card Components */
/* 1.1 CardComponent.js */
/* 1.2 Collection.js */
/* 1.3 Flashcard.js */
.flashcard {
  height: 200px;
  padding: 20px;
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 8px #00000029;
          box-shadow: 0px 6px 8px #00000029;
  margin: 20px;
}

.flashcard .flashcard--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flashcard .flashcard--def {
  color: #B2B2B2;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #B2B2B2;
}

.flashcard .flashcard--def:focus {
  outline: none;
}

.flashcard h2 {
  color: #000536;
  font-size: 16px;
  font-weight: bold;
}

.flashcard h5 {
  color: #B6EE1A;
  font-size: 12px;
}

/* 1.4 UserCreateCollection.js */
.createCollection .flashsquare {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.createCollection button {
  margin: 0 10px 0 0;
}

.createCollection h5 {
  color: #000536;
  font-size: 14px;
}

.createCollection input[type=text], .createCollection textarea[name=collectionDescription] {
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #000536;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
}

/* Form Components */
/* 2.1 FormField.js */
/* & */
/* 2.2 Login.js */
/* & */
/* 2.3 Register.js */
.registerForm2 form div {
  margin: 9px 0;
}

.registerForm2 input[type="text"], .registerForm2 input[type="password"], .registerForm2 input[type="email"] {
  height: 40px;
  font-size: 18px;
  border: 1px solid #707070;
  border-radius: 10px;
}

.registerForm2 input[type="text"]:focus, .registerForm2 input[type="password"]:focus, .registerForm2 input[type="email"]:focus {
  outline: none !important;
}

.registerForm2 {
  padding: 10vh 0;
}

.registerForm2 h1 {
  font-size: 32px;
  font-weight: 900;
}

.registerForm2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registerForm2 p {
  padding: 0 !important;
  margin: 0 !important;
}

.registerForm2 input[type="checkbox"] {
  display: none;
}

.registerForm2 input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.registerForm2 input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

.registerForm2 input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000536;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.registerForm2 input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alreadyaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-top: 28px !important;
}

.alreadyaccount a {
  color: #000536;
  -webkit-text-decoration: underline #000536;
          text-decoration: underline #000536;
  font-weight: bold;
}

/* 2.2 Login.js */
.remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #A1D218;
  margin-bottom: 88px !important;
}

.remember label {
  font-weight: 400 !important;
}

.remember a {
  color: #A1D218;
}

/* 2.3 Register.js */
.fbconnect, .ggconnect {
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 0;
  margin: 5px 0;
}

.fbconnect {
  background-color: #3b5998;
}

.ggconnect {
  background-color: #DB4437;
}

.registerbutton {
  margin: 48px 0 85px 0;
}

/* LandPage Components */
.main-page-h2 {
  color: #000536;
  font-size: 36px;
  font-weight: bold;
}

/* 3.1 Formular.js */
/* 3.2 Promo.js */
.help-others {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../img/slid3.jpg") fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  position: relative;
  z-index: -1;
}

.img-media {
  max-width: 128px;
}

.Promo {
  padding: 5vh 0;
}

@media (min-width: 992px) {
  .Promo h1 {
    font-size: 48px;
  }
  .help-others-text h1 {
    font-size: 52px;
  }
  .help-others-text h3 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .Promo h1 {
    margin-bottom: 20px;
  }
}

.Promo h1 {
  text-align: center;
  font-size: 28px;
}

li.media {
  padding: 3vh 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

li.media h4 {
  font-size: 32px;
}

/* 3.3 SignInModal.js */
/* 3.4 Slider.js */
/* UNUSED */
/*  Slider.js */
.carousel-sign-in {
  position: absolute;
  width: 30vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
  .carousel-caption p {
    font-size: 18px;
  }
  .carousel-caption h3 {
    font-size: 32px;
  }
}

.slider {
  padding: 0px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.carousel-item {
  background: #000536;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80vh;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.carousel-indicators {
  width: auto !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.carousel-indicators .active {
  width: 45px !important;
  height: 3px !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.carousel-indicators li {
  background-clip: unset !important;
  border: 0px !important;
}

/* 3.5 UserPromo.js */
.help-others-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.help-others-text h1 {
  text-align: center;
}

.help-others-text h3 {
  line-height: 1.6;
  text-align: center;
}

/* 3.6 WelcomeSection.js */
div.welcome-section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.welcome-section img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

div.welcome-section > div {
  z-index: 1;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 80px;
}

div.welcome-section > div h2 {
  text-align: left;
}

div.welcome-section > div p {
  font-size: 16px;
  max-width: 350px;
  color: #000536;
}

@media (min-width: 991px) {
  div.welcome-section {
    min-height: 494px;
  }
}

@media (min-width: 1200px) {
  div.welcome-section {
    min-height: 618px;
  }
}

@media (max-width: 991px) {
  div.welcome-section {
    height: 371px;
  }
  div.welcome-section > div h2 {
    font-size: 22px;
  }
  div.welcome-section > div p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  div.welcome-section {
    height: 297px;
  }
  div.welcome-section > div {
    padding-right: 0px;
  }
  div.welcome-section > div h2 {
    font-size: 18px;
  }
  div.welcome-section > div p {
    font-size: 10px;
  }
}

@media (max-width: 415px) {
  div.welcome-section {
    height: 214px;
  }
  div.welcome-section > div {
    padding-right: 0px;
  }
  div.welcome-section > div h2 {
    font-size: 16px;
  }
  div.welcome-section > div p {
    font-size: 10px;
  }
}

/* 3.7 Newsletter */
#newsletter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #000536;
}

#newsletter-section p {
  font-size: 18px;
  margin: 0 !important;
}

#newsletter-section input {
  width: 200px;
}

@media (max-width: 576px) {
  #newsletter-section h2 {
    font-size: 20px;
  }
  #newsletter-section p {
    font-size: 12px;
    margin: 0 !important;
  }
  #newsletter-section input {
    margin: 10px 0 !important;
    font-size: 12px;
    width: 150px;
  }
}

#newsletter-section .newsletter-thanks {
  padding: 20vh 0;
  text-align: center;
}

#newsletter-section .left-circle-container, #newsletter-section .right-circle-container {
  position: relative;
  overflow: hidden;
  height: auto;
  width: auto;
}

#newsletter-section .left-circle-container {
  position: absolute;
  left: -20%;
}

#newsletter-section .right-circle-container {
  position: absolute;
  right: -20%;
}

@media (max-width: 576px) {
  #newsletter-section .right-circle-container {
    right: -100px;
  }
  #newsletter-section .left-circle-container {
    left: -100px;
  }
}

#newsletter-section .newsletter-subscribe {
  padding: 200px 0;
  text-align: center;
}

@media (max-width: 576px) {
  #newsletter-section .newsletter-subscribe {
    padding: 150px 0;
  }
}

/* 3.8 Steps.js & Step.js */
#Steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000536;
  padding-top: 0px !important;
}

#Steps > h2::before {
  content: url("../../img/bubbles-L.svg");
  margin-right: 10px;
}

#Steps > h2::after {
  content: url("../../img/bubbles-R.svg");
  margin-left: 10px;
}

@media (max-width: 576px) {
  #Steps {
    padding: 0 !important;
  }
  #Steps > h2 {
    font-size: 20px;
  }
}

#Steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  #Steps-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  #Steps h2 {
    font-size: 26px !important;
  }
}

.Step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1200px) {
  .Step {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.Step img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.Step h2 {
  font-weight: bold;
}

.Step div {
  margin: 0 20px;
}

@media (min-width: 1200px) {
  .Step > div h2 {
    font-size: 17px;
  }
  .Step div {
    margin: 0 0px;
  }
}

@media (max-width: 991px) {
  .Step {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .Step img {
    margin-bottom: 20px;
  }
}

/* 3.9 Opinions.js & Opinion.js */
#Opinions h2 {
  text-align: center;
  margin-bottom: 10vh;
}

@media (max-width: 576px) {
  #Opinions {
    padding: 20px;
  }
}

.Opinion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Opinion img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.Opinion::before {
  content: url("../../img/bubbles-newsletter-01.svg");
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: absolute;
  top: -70px;
  left: -70px;
}

.Opinion::after {
  content: url("../../img/bubbles-newsletter-02.svg");
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: absolute;
  bottom: -70px;
  left: 0;
}

.Opinion p {
  font-size: 16px;
  color: #000536;
  word-spacing: 2px;
}

@media (max-width: 991px) {
  .Opinion {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Opinion p {
    margin-top: 20px;
    font-size: 12px;
  }
  .Opinion::before {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    top: -50px;
    left: -10px;
  }
  .Opinion::after {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    bottom: -60px;
    right: -50px;
  }
}

/* Layout Components */
/* 4.1 AppNavbar.js */
@media (min-width: 576px) {
  .navbar--dark {
    max-width: 540px;
  }
}

@media (min-width: 577px) {
  .navbar--dark {
    max-width: 480px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .navbar--dark {
    max-width: 600px;
    height: 100px;
  }
}

@media (min-width: 992px) {
  .navbar--dark {
    max-width: 720px;
    height: 100px;
  }
}

@media (min-width: 1199px) {
  .navbar--dark {
    max-width: 1000px;
    height: 100px;
  }
}

/* MODAL */
.show {
  opacity: 1;
}

@media (max-width: 576px) {
  .navbar__brand--text {
    font-size: 14px !important;
  }
  .navbar--dark {
    padding: 10px 5px;
  }
  .navbar__buttons {
    width: 70%;
  }
  .navbar__brand {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 60vw;
  }
}

.navbar__buttons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 576px) {
  .navbar__buttons div {
    margin: 0 0 0 18px;
  }
}

.navbar__buttons input[type="text"] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  height: 40px;
  max-width: 400px;
  font-size: 22px;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .navbar__buttons input[type="text"] {
    height: 30px !important;
    font-size: 18px;
  }
}

.navbar__buttons input[type="text"]:focus {
  border: 1px solid #B6EE1A;
  outline: none !important;
}

.navbar__brand--text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: #ddd;
  font-weight: bold;
}

.navbar__brand {
  position: relative;
  height: 100%;
  vertical-align: middle;
  height: auto !important;
  padding: 0 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 150px;
}

.navbar--dark {
  background: #000536;
  border: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.navbar__registerbutton {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: #B6EE1A;
  outline: none !important;
  background: "inherit";
  height: 60px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__registerbutton:hover, .navbar__registerbutton:focus, .navbar__registerbutton:active, .navbar__registerbutton:checked {
  color: white;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .navbar__registerbutton {
    font-size: 16px !important;
  }
}

.signinbutton {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: "inherit";
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signinbutton:hover, .signinbutton:focus, .signinbutton:active, .signinbutton:checked {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .signinbutton {
    font-size: 16px !important;
  }
}

/* 4.2 Footer.js */
@media (min-width: 1199px) {
  .footer {
    max-width: 100%;
  }
}

.footer {
  background: #000536;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
}

.footer-end-text {
  color: white;
  vertical-align: middle;
}

.footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > div > div {
  padding: 0 10px;
}

.footer > div > div:nth-child(2), .footer > div > div:nth-child(3) {
  border-left: 2px solid white;
}

@media (max-width: 767px) {
  .footer > div > div:nth-child(2), .footer > div > div:nth-child(3) {
    display: none;
  }
}

.footer > div p {
  margin: 0 !important;
}

.social {
  color: white;
  font-size: 24px;
  margin: 0 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social:hover {
  color: #B6EE1A;
  cursor: pointer;
}

/* Pages Components */
/* 5.1 Search.js */
/* 5.2 UserCreate.js */
input[name=collectionName] {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #000536;
}

/* 5.3 UserHead.js */
.mainpanel__userbase {
  max-width: 100%;
}

.mainpanel__userbase section {
  max-width: 100%;
  padding: 30px;
  background-color: white;
}

@media (max-width: 576px) {
  .mainpanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainpanel__userbase {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .mainpanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 85%;
  }
  .mainpanel__userbase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
  }
  .mainpanel__userbase section {
    -webkit-box-shadow: 0px 6px 8px #00000029;
            box-shadow: 0px 6px 8px #00000029;
    border-radius: 25px;
    padding: 20px;
  }
}

/* Search Components */
/* 6.1 SearchInput.js */
@media (max-width: 991px) {
  .searchbuttontext {
    display: none;
  }
}

.searchbutton {
  font-size: 24px;
  color: white;
  background: inherit;
  border: none;
  margin: 0 0 0 10px;
  text-decoration: none;
  /*for FireFox*/
  /*for IE8 and below */
}

.searchbutton::-moz-focus-inner {
  border: 0;
}

.searchbutton:focus, .searchbutton:focus {
  outline: none;
}

.searchbutton:hover {
  color: #B6EE1A;
  cursor: pointer;
  outline: hidden;
}

.searchbutton:focus {
  outline: hidden;
  color: #A1D218;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline-offset: -4px;
}

.searchbutton::-moz-focus-inner {
  border: 0;
  outline: none;
}

/* UserBase Components */
/* 7.0 UserMenu.js */
.usermenu {
  background-color: white;
  -webkit-box-shadow: 0px 6px 8px #00000029;
          box-shadow: 0px 6px 8px #00000029;
}

@media (max-width: 991px) {
  .usermenu div.collapse, .usermenu div.collapsing {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.usermenu div {
  padding: 10px 15px;
}

.usermenu h2 {
  font-size: 28px;
  font-weight: 900;
  padding: 25px 25px 5px 25px;
}

.usermenu .category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
  border-top: 1px solid #00000029;
}

.usermenu .category a {
  font-size: 18px;
  color: #000536;
  white-space: nowrap;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .usermenu .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767px) {
  .usermenu .navbar-toggler-icon {
    position: relative;
    padding: 10px;
    height: 30px;
  }
  .usermenu .navbar-toggler-icon:after, .usermenu .navbar-toggler-icon:before {
    content: '';
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000536;
  }
  .usermenu .navbar-toggler-icon:after {
    top: 20px;
  }
}

/* 7.1 UserSection.js */
.UserSection {
  margin: 0px 0px 120px 0px;
}

.UserSection h2 {
  color: #000536;
  font-weight: bold;
}

/* 7.2 StudySetsSection.js */
/* 7.3 CollectionSection.js */
.yourcollections, .yourstudysets {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  /* hide scrollbar */
  /* Optional: show position indicator in red */
}

.yourcollections::-webkit-scrollbar, .yourstudysets::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.yourcollections::-webkit-scrollbar-thumb, .yourstudysets::-webkit-scrollbar-thumb {
  background: transparent;
}

.yourcollections button, .yourstudysets button {
  min-width: 200px;
  max-height: 60px;
}

.plus-button {
  background-color: #B6EE1A;
  color: #000536;
  border: 5px solid #000536;
  font-weight: 800;
  font-size: 28px;
  border-radius: 50%;
  padding: 5px 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.plus-button:focus {
  outline: none;
  outline-offset: -4px;
}

.plus-button:hover {
  color: #000536;
  background-color: #A1D218;
}

/* 7.3 Collectionscontent.js */
.yourcollections2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* layouts */
/* 8.1 Layout.js */
/* App Background and Bootstrap overwrites */
.app--background {
  background-color: #000536;
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: -999;
}

main.container {
  background-color: #F8F8F8;
  overflow: hidden;
  padding: 50px;
  position: relative;
}

main.user--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px !important;
}

@media (min-width: 768px) {
  main.container {
    border-radius: 70px;
  }
}

@media (max-width: 767px) {
  main.container {
    max-width: 100%;
  }
}

.container.p-0 > div {
  padding: 50px;
}

/* 9.1 Loading.js */
.loader {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
}

.introLoader {
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
}

.loader span {
  position: absolute;
  width: 25px;
  height: 25px;
}

.introSpan {
  -webkit-animation: rotate 2s ease-in-out infinite;
          animation: rotate 2s ease-in-out infinite;
}

.loader span:nth-child(1) {
  background-color: #000536;
  top: 0;
  left: 0;
}

.loader span:nth-child(2) {
  background-color: #A1D218;
  top: 0;
  right: 0;
}

.loader span:nth-child(3) {
  background-color: #A1D218;
  bottom: 0;
  left: 0;
}

.loader span:nth-child(4) {
  background-color: #000536;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes animate {
  0% {
    width: 50px;
    height: 50px;
  }
  10% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 75px;
    height: 75px;
  }
  90% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

@keyframes animate {
  0% {
    width: 50px;
    height: 50px;
  }
  10% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 75px;
    height: 75px;
  }
  90% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.searchcollectioninput {
  margin: 20px;
}
/*# sourceMappingURL=Main.css.map */