* {
  font-family: 'Poppins', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #f00;
}

a:hover, a:focus, a:checked {
  text-decoration: none;
}

.green-button {
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border: 0;
  color: #000536;
  outline: none !important;
  background: #B6EE1A;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green-button:hover {
  color: #000536;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .green-button {
    font-size: 12px !important;
    padding: 5px 3px;
  }
}

.green-button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#A1D218), to(#B6EE1A));
  background: linear-gradient(#A1D218, #B6EE1A);
}

.blue-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: #000536;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-button:hover, .blue-button:focus, .blue-button:active, .blue-button:checked {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .blue-button {
    font-size: 16px !important;
  }
}

.in-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: inherit;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.in-button:hover, .in-button:focus, .in-button:active, .in-button:checked {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .in-button {
    font-size: 16px !important;
  }
}

input.text {
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 10px;
}

input.text:hover, input.text:focus, input.text:active, input.text:checked {
  text-decoration: none !important;
  outline: none;
}

input[type='text']:hover, input[type='text']:focus, input[type='text']:active, input[type='text']:checked, textarea:hover, textarea:focus, textarea:active, textarea:checked {
  text-decoration: none !important;
  outline: none;
}

.color-dark-blue {
  color: #000536 !important;
}

@-webkit-keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}

@keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}

.remove-button {
  font-size: 24px;
  color: #000536;
  background-color: #F8F8F8;
  border: 0;
}

.remove-button:hover, .remove-button:focus {
  background: #F8F8F8;
}

.remove-button:focus {
  outline: 1px solid #F8F8F8;
  outline-offset: -4px;
}

.remove-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.flex--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex--complet, .element--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.green--button {
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border: 0;
  color: #000536;
  outline: none !important;
  background: #B6EE1A;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green--button:hover {
  color: #000536;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .green--button {
    font-size: 12px !important;
    padding: 5px 3px;
  }
}

.plus--button {
  background-color: #B6EE1A;
  color: #000536;
  border: 5px solid #000536;
  font-weight: 800;
  font-size: 28px;
  border-radius: 50%;
  padding: 5px 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.plus--button:focus {
  outline: none;
  outline-offset: -4px;
}

.plus--button:hover {
  color: #000536;
  background-color: #A1D218;
}
/*# sourceMappingURL=mLingo.css.map */