@import './variables.scss';
@import './mLingo.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

#all__containers__in__user__section{
    flex: 0 0 79%;
    max-width: 79%;
}
// mainpanel

//////////// Rebuild SCSS ////////////
//////////// components ////////////
// 1. account_
// --- 1.1 collection_
// --- --- 1.1.1 CollectionCard
// --- --- 1.1.2 CollectionCreate
// --- 1.2 set_
// --- 1.3 user_

// 1. account_
// --- 1.1 collection_
// --- --- 1.1.1 CollectionCard
// --- --- 1.2.1 SetCard

.card__container{
    width: 150px;
    height: 150px;
    margin: 0 55px 0 0 ;
    border-radius: 25px;
    border: 0;

    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.card__body{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.card--collection{
    background: url('../../img/collection.svg');
    background-size: cover;
}

.card--set{
    background: url('../../img/studyset.png');
    background-size: cover;
}

.card__title, .card__subtitle {
    color: $dark-blue;
}

.card__title{
    font-size: 1.2rem;
    font-weight: 900;
}

.card__link{
    &:hover{
        text-decoration: none !important;
    }
}

// --- --- 1.1.2 CollectionCreate

.create__container, .create--collection{
    @extend .col-sm-12;
    padding: 1rem;

    @media(min-width: $tablet-res){
        flex: 0 0 79%;
        max-width: 79%;
    }
}

.create__details{
    @extend .flex--start;
    @extend .col-12;
}

.details__img{
    @extend .img-fluid;
    margin: 0 25px;
}

.details__description{
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $dark-blue;
    border: 1px solid #B2B2B2;
    border-radius: 10px;
}

.details__title{
    color: $dark-blue;
    font-size: 14px;
}

.details__buttons{
    @extend .flex--between;
}

.create__more{
    @extend  .flex--complet;
    margin: 1rem;
}

.action__description{
    margin-left: 15px;
    color: $dark-blue;
    font-size: 1.75em;
}

.create__button{
    margin: 20px 0;
}
