@import "./variables.scss";
@import "./BEM.scss";
@import "./mLingo.scss";


/* MENU */

/* LandPage Components */
/* 3.1 Formular.js */
/* 3.2 Promo.js */
/* 3.3 SignInModal.js */
/* 3.4 Slider.js */
/* 3.5 UserPromo.js */
/* 3.6 WelcomeSection.js */
/* 3.8 Steps.js & Step.js */
/* 3.9 Opinions.js & Opinion.js */

/* Layout Components */
/* 4.1 AppNavbar.js */
/* 4.2 Footer.js */

/* Pages Components */
/* 5.3 UserHead.js */

/* Search Components */
/* 6.1 SearchInput.js */

/* UserBase Components */
/* 7.1 UserSection.js */
/* 7.2 StudySetsSection.js */
/* 7.3 CollectionSection */


/* layouts */
/* 8.1 Layout.js */


/* Animations */
/* 9.1 Loading.js */

//////////////////////////////////////////////////////
/* LandPage Components */
//////////////////////////////////////////////////////

.main-page-h2{
  color: $dark-blue;
  font-size: 36px;
  font-weight: bold;
}

//////////////////////////////////////////////////////
/* 3.1 Formular.js */
//////////////////////////////////////////////////////

//////////////////////////////////////////////////////
/* 3.2 Promo.js */
//////////////////////////////////////////////////////

.help-others {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/slid3.jpg") fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
  position: relative;
  z-index: -1;
}

.img-media {
  max-width: 128px;
}

.Promo {
  padding: 5vh 0;
}

@media (min-width: $desktop-res) {
  .Promo h1 {
    font-size: 48px;
  }
  .help-others-text h1 {
    font-size: 52px;
  }
  .help-others-text h3 {
    font-size: 24px;
  }
}

@media (max-width: $mobile-res) {
  .Promo h1 {
    margin-bottom: 20px;
  }
}

.Promo h1 {
  text-align: center;
  font-size: 28px;
}

li.media {
  padding: 3vh 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

li.media h4 {
  font-size: 32px;
}


/* 3.3 SignInModal.js */
/* 3.4 Slider.js */

/* UNUSED */

/*  Slider.js */

.carousel-sign-in {
  position: absolute;
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $desktop-res) {
  .carousel-caption {
    p {
      font-size: 18px;
    }
    h3 {
      font-size: 32px;
    }
  }
}

.slider {
  padding: 0px !important;
  object-fit: cover;
  box-sizing: border-box;
  position: relative;
}
.carousel-item {
  background: $dark-blue;

  img {
    object-fit: cover;
    width: 100%;
    height: 80vh;
    filter: brightness(0.5);
  }
}

.carousel-indicators {
  width: auto !important;
  margin-left: 0px !important;
  margin-right: 0px !important;

  .active {
    width: 45px !important;
    height: 3px !important;
    transition: 0.7s;
  }
  li {
    background-clip: unset !important;
    border: 0px !important;
  }
}

//////////////////////////////////////////////////////
/* 3.5 UserPromo.js */
//////////////////////////////////////////////////////

.help-others-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;

  h1 {
    text-align: center;
  }

  h3 {
    line-height: 1.6;
    text-align: center;
  }
}

//////////////////////////////////////////////////////
/* 3.6 WelcomeSection.js */
//////////////////////////////////////////////////////



div.welcome-section{
  position: relative;

  img{
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    object-fit: cover;
  }


  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &>div{

    z-index: 1;
    max-width:50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 80px;

  h2{
    text-align: left;
  }
  p{
    font-size: 16px;
    max-width: 350px;
    color: $light-blue;
  }
  }

}



@media(min-width: $tablet-res){
  div.welcome-section{
    min-height: 494px;
  }
}

@media(min-width: 1200px){
  div.welcome-section{
    min-height: 618px;
  }
}

@media(max-width:$tablet-res){
  div.welcome-section{
    height: 371px;

    &>div h2{
      font-size: 22px;
    }
    &>div p{
      font-size: 12px;
    }
  }
}


@media(max-width: $mobile-res){
  div.welcome-section{
    height: 297px;

    &>div{
      padding-right: 0px;
    }

    &>div h2{
      font-size: 18px;
    }
    &>div p{
      font-size: 10px;
    }
  }

}

// Iphone number Plus models and lower
@media(max-width:415px){
  div.welcome-section{
    height: 214px;

    &>div{
      padding-right: 0px;
    }

    &>div h2{
      font-size: 16px;
    }
    &>div p{
      font-size: 10px;
    }
  }
}



//////////////////////////////////////////////////////
/* 3.8 Steps.js & Step.js */
//////////////////////////////////////////////////////

#Steps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark-blue;
  padding-top: 0px !important;

  >h2::before{
    content: url("../../img/bubbles-L.svg");
    margin-right: 10px;
  }
  >h2::after{
    content: url("../../img/bubbles-R.svg");
    margin-left: 10px;
  }

  @media(max-width: $mobile-res){
    &{
      padding: 0 !important;

      >h2{
        font-size: 20px;
      }
    }
  }

}
#Steps-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  @media(max-width: 1200px){
    &{
      flex-wrap: wrap;
    }
  }

}

#Steps{
  @media( min-width:$mobile-res) and (max-width: $tablet-res){
    h2{
      font-size: 26px !important;
    }
  }
}

.Step{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  @media(max-width: 1200px){
    &{
      justify-content: space-around;
    }
  }

  img{
    transform: scale(0.8);
  }
  h2{
    font-weight: bold;
  }
  div{
    margin:  0 20px;
  }

  @media(min-width: 1200px){
    &{
      >div h2{
      font-size: 17px;
    }

    div{
      margin: 0 0px;
    }

  }
  }

  @media(max-width: $tablet-res){
    &{
      flex-wrap: wrap;
      text-align: center;
      img{
        margin-bottom: 20px;
      }


    }
  }
}

//////////////////////////////////////////////////////
/* 3.9 Opinions.js & Opinion.js */
//////////////////////////////////////////////////////


.Opinion{
  position: relative;
  display: flex;
  flex-wrap: nowrap;


  img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
  }
  &::before{
    content: url("../../img/bubbles-newsletter-01.svg");
    transform: scale(0.8);
    position: absolute;
    top:-70px;
    left:-70px;
  }
  &::after{
    content: url("../../img/bubbles-newsletter-02.svg");
    transform: scale(0.8);
    position: absolute;
    bottom:-70px;
    left:0;
  }

  p{
    font-size: 16px;
    color: $dark-blue;
    word-spacing: 2px;
  }

  @media(max-width: $tablet-res){
    &{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      p{
        margin-top: 20px;
        font-size: 12px;
      }

      &::before{
        transform: scale(0.5);
        top:-50px;
        left:-10px;
      }
      &::after{
        transform: scale(0.5);
        bottom:-60px;
        right: -50px;
      }
    }
  }
}



//////////////////////////////////////////////////////
/* Layout Components */
//////////////////////////////////////////////////////

//////////////////////////////////////////////////////
/* 4.1 AppNavbar.js */
//////////////////////////////////////////////////////

// NAVBAR CONTAINER SIZES //

@media (min-width: 576px)
{
  .navbar--dark {
    max-width: 540px;

  }
}

@media (min-width: 577px)
{
  .navbar--dark {
    max-width: 480px;
    height: 80px;
  }
}

@media (min-width: 768px)
{
  .navbar--dark {
    max-width: 600px;
    height: 100px;
  }
}

@media (min-width: 992px)
{
  .navbar--dark {
    max-width: 720px;
    height: 100px;
  }
}
@media (min-width: 1199px)
{
  .navbar--dark{
    max-width: 1000px;
    height: 100px;
  }
}
/* MODAL */
.show {
  opacity: 1;
}

@media (max-width: $mobile-res) {
  .navbar__brand--text {
    font-size: 14px !important;
  }

  .navbar--dark {
    padding: 10px 5px;
  }

  .navbar__buttons {
    width: 70%;
  }

  .navbar__brand{
    transform: scale(0.8);
  }
}

@media (min-width: $desktop-res) {
  .modal-dialog {
    max-width: 60vw;
  }
}

.navbar__buttons {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;


  @media(min-width: $mobile-res){
    & div{
      margin: 0 0 0 18px ;
    }
  }

  input[type="text"]{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;
    height: 40px;
    max-width: 400px;
    font-size: 22px;
    padding: 0 10px;

    @media(max-width: $tablet-res){
      height: 30px !important;
      font-size: 18px;
    }

    &:focus{
      border: 1px solid $light-green;
      outline: none !important;
    }

  }
}

.navbar__brand--text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: #ddd;
  font-weight: bold;
}
.navbar__brand{
  position: relative;
  height: 100%;
  vertical-align: middle;
  height: auto !important;
  padding: 0 10px !important;
  display: flex;
  align-items: center;
  max-width: 150px;
}

.navbar--dark {
  background: $dark-blue;
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

}

.navbar__registerbutton {
  @include outbutton("inherit");
}

.signinbutton {
  @include inbutton("inherit");
}


//////////////////////////////////////////////////////
/* 4.2 Footer.js */
//////////////////////////////////////////////////////

@media (min-width: 1199px){
  .footer{
    max-width: 100%;
  }
}

.footer {
  background: $dark-blue;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: white;

  &-end-text {
    color: white;
    vertical-align: middle;

  }

  &>div{
    display: flex;
    justify-content: center;
    align-items: center;

    &>div{
      padding: 0 10px;
    }

    &>div:nth-child(2),&>div:nth-child(3){
      border-left: 2px solid white;
    }

    @media(max-width: 767px){
      &>div:nth-child(2),&>div:nth-child(3){
        display: none;
      }
    }

    p{
      margin: 0 !important;
    }

  }
}

.social {
  color: white;
  font-size: 24px;
  margin: 0 12px;
  transition: 0.5s;
}
.social:hover{
  color: $light-green;
  cursor: pointer;
}


//////////////////////////////////////////////////////
/* Pages Components */
//////////////////////////////////////////////////////


//////////////////////////////////////////////////////
/* 5.3 UserHead.js */
//////////////////////////////////////////////////////

// Max-width: 100% - because of overflow-x: auto //

@media (max-width: $mobile-res) {
  .mainpanel{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainpanel__userbase{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-res) {
  .mainpanel{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


///////////////////////////////////////////////////////////////////////////////////////////////////
/* Search Components */
///////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////
/* 6.1 SearchInput.js */
///////////////////////////////////////////////////////////////////////////////////////////////////

@media(max-width: $tablet-res){
  .searchbuttontext{
    display: none;
  }
}

.searchbutton{
  font-size: 24px;
  color: white;
  background: inherit;
  border: none;
  margin: 0 0 0 10px;
  text-decoration: none;


  /*for FireFox*/
  &::-moz-focus-inner
  {
      border : 0;
  }
  /*for IE8 and below */
  &:focus, &:focus
  {
      outline : none;
  }

  &:hover{
    color: $light-green;
    cursor: pointer;
    outline: hidden;
  }

  &:focus{
    outline: hidden;
    color: $dark-green;
    border: 0;
    box-shadow: 0;
    outline-offset: -4px;
  }

  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}

//////////////////////////////////////////////////////////////////
/* UserBase Components */
//////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////
/* 7.0 UserMenu.js */
//////////////////////////////////////////////////////////////////

.usermenu{
  background-color: white;
  box-shadow: 0px 6px 8px #00000029;

  // usermenu 100vh when is collapsed!!

  @media(max-width: $tablet-res){
    div.collapse, div.collapsing{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  }

  & div{
    padding: 10px 15px;
  }

  & h2{
    font-size: 28px;
    font-weight: 900;
    padding: 25px 25px 5px 25px;
  }

   .category{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    border-top: 1px solid #00000029;

    a{
      font-size: 18px;
      color: #000536;
      white-space: nowrap;
      margin-left: 10px;
    }
  }
  @media(min-width:768px){
    .navbar-toggler{
      display:none;
    }
  }

  @media(max-width: 767px){
    .navbar-toggler-icon{
      position: relative;
      padding: 10px;
      height: 30px;
    }

    .navbar-toggler-icon:after,.navbar-toggler-icon:before {
      content:'';
      position: absolute;
      z-index: 999;
      top: 10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $dark-blue;
    }
    .navbar-toggler-icon:after{
      top: 20px;
    }
  }
}

//////////////////////////////////////////////////////////////////
/* layouts */
//////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////
/* 8.1 Layout.js */
//////////////////////////////////////////////////////////////////

/* App Background and Bootstrap overwrites */
.app--background{
  background-color: $dark-blue;
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: -999;
}

main.container{
  background-color: #F8F8F8;
  overflow: hidden;
  padding: 50px;
  position: relative;
}
main.user--container{
  display: flex;
  padding: 0px !important;
}

@media(min-width: 768px){
  main.container{
    border-radius: 70px;
  }
}
@media(max-width:767px){
  main.container{
    max-width: 100%;
  }
}

// Landpage layout
.container.p-0>div{
  padding: 50px;
}


//////////////////////////////////////////////////////////////////
/* 9.1 Loading.js */
//////////////////////////////////////////////////////////////////


.loader{
  width: 50px;
  height: 50px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
}
.introLoader{
  animation: animate 1s linear infinite;
}
.loader span{
  position: absolute;
  width: 25px;
  height: 25px;
}
.introSpan{
  animation: rotate 2s ease-in-out infinite;
}
.loader span:nth-child(1){
  background-color: $dark-blue;
  top: 0;
  left: 0;
}
.loader span:nth-child(2){
  background-color: $dark-green;
  top: 0;
  right: 0;
}
.loader span:nth-child(3){
  background-color: $dark-green;
  bottom: 0;
  left: 0;
}
.loader span:nth-child(4){
  background-color: $dark-blue;
  bottom: 0;
  right: 0;
}

@keyframes animate{
  0%{
    width: 50px;
    height: 50px;
  }
   10%{
    width: 50px;
    height: 50px;
  }
   50%{
    width: 75px;
    height: 75px;
  }
  90%{
    width: 50px;
    height: 50px;
  }
   100%{
    width: 50px;
    height: 50px;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(90deg);
  }
  90%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


//////////////////////////////////////////////////////////////////
//////// LOOOOST STYLES ////////////
/////////////////////////////////

.searchcollectioninput{
  margin: 20px;
}


