.blue-button {
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  width: 10vw;
  outline: none !important;
  background: #4a69bd;
  height: 60px;
  border-radius: 5px;
}

.blue-button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.in-button {
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  width: 10vw;
  outline: none !important;
  background: inherit;
  height: 60px;
  border-radius: 5px;
}

.in-button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

@-webkit-keyframes bounce {
  0% {
    bottom: 5%;
  }
  25% {
    bottom: 2%;
  }
  50% {
    bottom: 15%;
  }
  75% {
    bottom: 2%;
  }
  100% {
    bottom: 5%;
  }
}

@keyframes bounce {
  0% {
    bottom: 5%;
  }
  25% {
    bottom: 2%;
  }
  50% {
    bottom: 15%;
  }
  75% {
    bottom: 2%;
  }
  100% {
    bottom: 5%;
  }
}

/* MENU */
/* MainPageComponents */
/* 1. AppNavbar.js */
/* 2. Slider.js */
/* 3. Promo.js */
/* 4. UserPromo.js */
/* 5. Register.js */
/* 6. Footer.js */
/* 1. AppNavbar.js */
/* MODAL */
.show {
  opacity: 1;
}

@media (max-width: 991px) {
  .brand-icon {
    max-width: 40px;
    max-height: 40px;
  }
  .brand-text {
    font-size: 12px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 100px;
  }
  .modal-dialog {
    max-width: 60vw;
  }
  .brand-icon {
    position: absolute;
    left: 10%;
    max-width: 80px;
    max-height: 80px;
    -webkit-animation: bounce 1s infinite ease-in-out;
            animation: bounce 1s infinite ease-in-out;
  }
  .brand-text {
    font-size: 24px;
  }
  .navbar-buttons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.brand-text {
  color: #ddd;
  font-weight: bold;
}

.navbar {
  margin: 0 !important;
  border: 0 !important;
}

.navbar-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e3799), to(#0c2461));
  background: linear-gradient(#1e3799, #0c2461);
  margin: 0 !important;
}

.navbar-brand {
  height: auto !important;
  padding: 0 10px !important;
}

.navbar-buttons {
  position: absolute;
  right: 5vw;
}

.register-button {
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  width: 10vw;
  outline: none !important;
  background: #4a69bd;
  height: 60px;
  border-radius: 5px;
}

.register-button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.sign-in-button {
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  width: 10vw;
  outline: none !important;
  background: "inherit";
  height: 60px;
  border-radius: 5px;
}

.sign-in-button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

/* 2. Slider.js */
.carousel-sign-in {
  position: absolute;
  width: 30vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carousel-sign-in .sign-in-button {
  width: 100%;
  background: #4a69bd;
}

@media (min-width: 992px) {
  .carousel-caption p {
    font-size: 18px;
  }
  .carousel-caption h3 {
    font-size: 32px;
  }
}

.slider {
  padding: 0px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.carousel-item {
  background: -webkit-gradient(linear, left top, left bottom, from(#0c2461), to(#1e3799));
  background: linear-gradient(#0c2461, #1e3799);
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80vh;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.carousel-indicators {
  width: auto !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.carousel-indicators .active {
  width: 45px !important;
  height: 3px !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.carousel-indicators li {
  background-clip: unset !important;
  border: 0px !important;
}

/* 3. Promo.js */
.help-others {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../../img/slid3.jpg") fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  position: relative;
  z-index: -1;
}

.img-media {
  max-width: 128px;
}

.Promo {
  padding: 5vh 0;
}

@media (min-width: 992px) {
  .Promo h1 {
    font-size: 48px;
  }
  .help-others-text h1 {
    font-size: 52px;
  }
  .help-others-text h3 {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  .Promo h1 {
    margin-bottom: 20px;
  }
}

.Promo h1 {
  text-align: center;
  font-size: 28px;
}

li.media {
  padding: 3vh 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

li.media h4 {
  font-size: 32px;
}

/* 4. UserPromo.js */
.help-others-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.help-others-text h1 {
  text-align: center;
}

.help-others-text h3 {
  line-height: 1.6;
  text-align: center;
}

/* 5. Register.js */
.registerForm2 input {
  height: 40px;
  font-size: 18px;
}

.registerForm2 input:focus {
  outline: none;
  border: 0;
}

.registerForm2 {
  padding: 10vh 0;
}

.registerForm2 h1 {
  font-size: 38px;
  font-weight: 100;
}

.registerForm2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* 6. Footer.js */
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e3799), to(#0c2461));
  background: linear-gradient(#1e3799, #0c2461);
  margin: 0 !important;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer-end-text {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.social {
  color: white;
}
/*# sourceMappingURL=Main.css.map */