* {
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: none;
}

.green-button {
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border: 0;
  color: #000536;
  outline: none !important;
  background: #B6EE1A;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green-button:hover {
  color: #000536;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .green-button {
    font-size: 16px !important;
  }
}

.blue-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: #000536;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-button:hover {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .blue-button {
    font-size: 16px !important;
  }
}

.in-button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: inherit;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.in-button:hover {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .in-button {
    font-size: 16px !important;
  }
}

@-webkit-keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}

@keyframes navbar-monkey-bounce {
  0% {
    bottom: 10%;
  }
  25% {
    bottom: 7%;
  }
  65% {
    bottom: 26%;
  }
  70% {
    bottom: 26%;
  }
  90% {
    bottom: 7%;
  }
  100% {
    bottom: 10%;
  }
}

/* MENU */
/* Layout Components */
/* 1. AppNavbar.js */
/* MainPageComponents */
/* 3. Promo.js */
/* 4. UserPromo.js */
/* 5. Register.js */
/* 6. Footer.js */
/* Login Panel */
/* 7. Main Panel */
/* UNUSED */
/* Slider.js */
/* App Background and Bootstrap overwrites */
.app--background {
  background-color: #000536;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -999;
}

.container {
  background-color: #F8F8F8;
}

@media (min-width: 576px) {
  .container {
    border-radius: 70px;
  }
}

/* Layout Components */
/* 1. AppNavbar.js */
/* MODAL */
.show {
  opacity: 1;
}

@media (max-width: 576px) {
  .navbar__brand--text {
    font-size: 14px !important;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 60vw;
  }
}

@media (min-width: 991px) {
  .navbar--dark {
    height: 100px;
  }
}

.navbar__buttons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 576px) {
  .navbar__buttons div {
    margin: 0 0 0 18px;
  }
}

.navbar__buttons input[type="text"] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  height: 40px;
  max-width: 400px;
  font-size: 22px;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .navbar__buttons input[type="text"] {
    height: 30px !important;
    font-size: 18px;
  }
}

@media (min-width: 991px) {
  .navbar__buttons input[type="text"] {
    margin: 0 32px 0 0;
  }
}

.navbar__buttons input[type="text"]:focus {
  border: 1px solid #B6EE1A;
  outline: none !important;
}

.navbar__brand--text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: #ddd;
  font-weight: bold;
}

.navbar__brand {
  position: relative;
  height: 100%;
  vertical-align: middle;
  height: auto !important;
  padding: 0 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--dark {
  background: #000536;
  margin: 0 !important;
  border: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__registerbutton {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: #B6EE1A;
  outline: none !important;
  background: "inherit";
  height: 60px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__registerbutton:hover {
  color: white;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .navbar__registerbutton {
    font-size: 16px !important;
  }
}

.signinbutton {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: "inherit";
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signinbutton:hover {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .signinbutton {
    font-size: 16px !important;
  }
}

/* 3. Promo.js */
.help-others {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../../img/slid3.jpg") fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  position: relative;
  z-index: -1;
}

.img-media {
  max-width: 128px;
}

.Promo {
  padding: 5vh 0;
}

@media (min-width: 992px) {
  .Promo h1 {
    font-size: 48px;
  }
  .help-others-text h1 {
    font-size: 52px;
  }
  .help-others-text h3 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .Promo h1 {
    margin-bottom: 20px;
  }
}

.Promo h1 {
  text-align: center;
  font-size: 28px;
}

li.media {
  padding: 3vh 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

li.media h4 {
  font-size: 32px;
}

/* 4. UserPromo.js */
.help-others-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.help-others-text h1 {
  text-align: center;
}

.help-others-text h3 {
  line-height: 1.6;
  text-align: center;
}

/* 5. Register.js */
.registerForm2 input[type="text"], .registerForm2 input[type="password"] {
  height: 40px;
  font-size: 18px;
  border: 1px solid #707070;
  border-radius: 10px;
}

.registerForm2 input[type="text"]:focus, .registerForm2 input[type="password"]:focus {
  outline: none !important;
  border: 1px solid #B6EE1A;
}

.registerForm2 {
  padding: 10vh 0;
}

.registerForm2 h1 {
  font-size: 32px;
  font-weight: 900;
}

.registerForm2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registerForm2 p {
  padding: 0 !important;
  margin: 0 !important;
}

.remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #B6EE1A;
  font-weight: 400 !important;
}

.remember a {
  color: #B6EE1A;
}

.alreadyaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.alreadyaccount a {
  color: #000536;
  -webkit-text-decoration: underline #000536;
          text-decoration: underline #000536;
  font-weight: bold;
}

/* 6. Footer.js */
.footer {
  background: #000536;
  margin: 0 !important;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer-end-text {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.social {
  color: white;
  font-size: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social:hover {
  color: #B6EE1A;
  cursor: pointer;
}

/* Login Panel */
/* Main Panel */
@media (max-width: 576px) {
  .mainpanel {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainpanel__userbase {
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
    width: 300px;
  }
}

@media (min-width: 992px) {
  .mainpanel {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainpanel__userbase {
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
    width: 300px;
  }
}

.mainpanel__userbase button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  background-color: inherit;
  border: 0;
  color: white;
  outline: none !important;
  background: #000536;
  height: 60px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainpanel__userbase button:hover {
  color: #B6EE1A;
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .mainpanel__userbase button {
    font-size: 16px !important;
  }
}

.searchcollectioninput {
  margin: 20px;
}

/* UNUSED */
/*  Slider.js */
.carousel-sign-in {
  position: absolute;
  width: 30vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
  .carousel-caption p {
    font-size: 18px;
  }
  .carousel-caption h3 {
    font-size: 32px;
  }
}

.slider {
  padding: 0px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.carousel-item {
  background: #000536;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80vh;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.carousel-indicators {
  width: auto !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.carousel-indicators .active {
  width: 45px !important;
  height: 3px !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.carousel-indicators li {
  background-clip: unset !important;
  border: 0px !important;
}
/*# sourceMappingURL=Main.css.map */